body{
  background-color: #242424;
  color: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  place-items: center;
  min-width: 2500px;
  min-height: 100vh;
  margin: 0;
  margin-left: 20vh;
  margin-right: 20vh;
}
